/* ---------------------------------------------- SECCIÓN PRINCIPAL ---------------------------------------------- */
.seccionPrincipal {
    padding: 0 10vw;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------------------- FORMITAS ---------------------------------------------- */

.seccionPrincipal__formitas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    z-index: -1;
}

.seccionPrincipal__forma {
    position: absolute;
    stroke-width: 2rem;
}

.naranja {
    stroke: var(--color-naranja);
}

.azul {
    stroke: var(--color-azul);
}

.verde {
    stroke: var(--color-verde);
}

.negra {
    stroke: var(--color-negro);
}

#forma1 {
    top: -3%;
    left: 15%;
    width: 10rem;
    height: 5rem;
}

#forma2 {
    top: -3%;
    right: calc((-100vw + 94%)/ 2);
    width: 9rem;
    height: 7rem;
}

#forma3 {
    top: 8%;
    left: 1%;
    width: 9.5rem;
    height: 6rem;
}

#forma4 {
    top: 10%;
    left: 32%;
    width: 9rem;
    height: 6rem;
}

#forma5 {
    top: 25%;
    left: 12%;
    width: 10rem;
    height: 6rem;
}

#forma6 {
    top: 18%;
    left: 55%;
    width: 9rem;
    height: 6rem;
}

#forma7 {
    top: 15%;
    left: 78%;
    width: 7rem;
    height: 8.5rem;
}

#forma8 {
    top: 50%;
    left: -5%;
    width: 10.5rem;
    height: 5rem;
}

#forma9 {
    top: 44%;
    left: 80%;
    width: 116px;
    height: 120px;
}

#forma10 {
    top: 58%;
    left: 17%;
    width: 7rem;
    height: 8rem;
}

#forma11 {
    top: 55%;
    right: calc((-100vw + 96%)/ 2);
    width: 110px;
    height: 137px;
}

#forma12 {
    top: 78%;
    left: 3%;
    width: 10rem;
    height: 7.5rem;
}

#forma13 {
    top: 73%;
    left: 36%;
    width: 9rem;
    height: 6.5rem;
}

#forma14 {
    top: 70%;
    left: 65%;
    width: 9rem;
    height: 6rem;
}

#forma15 {
    top: calc((100vh + 88%)/ 2);
    left: 15%;
    width: 10rem;
    height: 5.5rem;
}

#forma16 {
    top: calc((100vh + 87%)/ 2);
    left: 50%;
    width: 10rem;
    height: 5.5rem;
}

#forma17 {
    top: 80%;
    right: calc((-100vw + 108%)/ 2);
    width: 7.5rem;
    height: 8rem;
}

#forma1,
#forma2,
#forma3,
#forma4,
#forma5,
#forma6,
#forma7,
#forma8,
#forma9,
#forma10,
#forma11,
#forma12,
#forma13,
#forma14,
#forma15,
#forma16,
#forma17 {
    transform: scale(1.1);
}

/* ---------------------------------------------- FIN FORMITAS ---------------------------------------------- */

.seccionPrincipal__nav {
    height: 15%;
    align-self: end;

    display: flex;
    align-items: center;

    font-size: 1.4rem;
    color: var(--color-negro);
}

.seccionPrincipal__lista {
    list-style: none;
    display: flex;
}

.seccionPrincipal__item {
    margin-left: 6rem;
    cursor: pointer;
    transition: .3s ease all;
}

.seccionPrincipal__item:hover {
    /* transform: scale(1.1); */
    color: var(--color-naranja);
}

.seccionPrincipal__logo {
    height: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-azul);
    line-height: 4rem;
}

.seccionPrincipal__logoNombre {
    font-size: 7rem;
    font-family: var(--font-logo);
    text-transform: uppercase;
}


.seccionPrincipal__logoApellido {
    font-size: 1.8rem;
    font-family: var(--font-cuerpo-texto);
    text-transform: lowercase;
}

.seccionPrincipal__redesContenedor {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.seccionPrincipal__redes {
    padding: 0 0.8rem;
    transition: .3s ease all;
}

.seccionPrincipal__redes:hover {
    transform: scale(1.3) rotate(10deg);
}

.github, .alura{
    width: 45px;
    height: 45px;
}

.linkedin, .instagram{
    width: 50px;
    height: 50px;
}

/* ---------------------------------------------- ABOUT ME ---------------------------------------------- */

.seccionAboutMe {
    padding: 0 18vw;
    width: 100vw;
    /* height: auto; */
    min-height: 101vh;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background-color: var(--color-negro);
}

.seccionAboutMe__contenidoContenedor {

    display: flex;
    flex-flow: row;

    justify-content: center;
    align-items: center;

    width: 100%;
    margin-bottom: 6rem;
}

.seccionAboutMe__contenido1,
.seccionAboutMe__contenido2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
}

.seccionAboutMe__linea1,
.seccionAboutMe__linea2 {
    position: relative;
    left: 6rem;

    /* width: 349px; */
    width: 12rem;
    height: 197px;
}

.seccionAboutMe__parrafo1,
.seccionAboutMe__parrafo2 {
    width: 19rem;
    color: white;
    line-height: 2rem;
}


.seccionAboutMe__imagenContenedor {
    /* width: 28rem;
    height: 38rem; */

    padding: 0 0 3rem 0;
    display: flex;
    align-items: end;
    justify-content: end;
}

.seccionAboutMe__imagen {
    width: 28rem;
    height: 36rem;
    border-radius: 2rem;
    background-image: url("./imgs/img.jpg");
    background-position: center;
    background-size: 125%;
    background-repeat: no-repeat;
    transition: .3s ease all;
}

.seccionAboutMe__imagenContenedor:hover .seccionAboutMe__imagen {
    background-size: 160%;
}


.seccionAboutMe__imagenTitulo {
    font-family: var(--font-logo);
    text-transform: uppercase;
    line-height: 4.4rem;
    text-align: end;

    font-size: 6rem;
    -webkit-text-stroke: 0.01rem var(--color-verde);
    color: transparent;
    position: absolute;
    transform: translateY(-3rem);
    transition: .3s ease all;

}

.seccionAboutMe__imagenContenedor:hover .seccionAboutMe__imagenTitulo {
    transform: translateY(-5rem);
}

.alternativo {
    display: none;
}

/* ---------------------------------------------- SKILLS ---------------------------------------------- */


.seccionSkills {
    padding: 0 18vw;
    width: 100vw;
    height: 108vh;
    background-color: var(--color-azul);
    display: flex;
    flex-direction: column;
}

.tituloContenedor2 {
    padding: 7rem 0 5rem 0;
    display: flex;
}

.titulo2 {
    font-family: var(--font-titulo-1);
    color: var(--color-negro);
    font-size: 5.5rem;
    font-weight: 100;
    z-index: 2;
}

.tituloFondo2 {
    position: absolute;
    left: -2vw;

    font-family: var(--font-logo);
    text-transform: uppercase;
    font-size: 11rem;
    line-height: 6rem;
    -webkit-text-stroke: 0.1rem var(--color-verde);
    color: transparent;
    opacity: 0.8;

    z-index: 1;
    width: 100vw;
}

.seccionSkillsContenedor {
    margin: 4rem 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 22%;
    justify-content: space-between;
    align-items: center;
}

.seccionSkills__item {
    width: 22%;
    height: 90%;
    /* padding: 0 10% 10% 0; */
    background: #FBFAF9;
    margin-bottom: 8%;
    box-shadow: -1px 9px 60px rgba(74, 74, 74, 0.25);
    border-radius: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s ease all;
}

.seccionSkills__item:nth-child(3n+1) {
    margin-right: 7%;
}

.seccionSkills__item:nth-child(3n+2) {
    margin-right: 7%;
}


.seccionSkills__img {
    width: 40%;
    transition: .3s ease all;
}

#html,
#css,
#js {
    width: 45%;
}

#figmaImg {
    width: 30%;
}

.seccionSkills__item:hover {
    scale: 1.1;
}

.seccionSkills__item:hover .seccionSkills__img {
    transform: translateY(-6rem) translateX(100%) rotate(10deg);
}

.seccionSkills__texto {
    font-family: 'Paytone One', sans-serif;
    color: var(--color-negro);
    font-size: 2rem;

    position: absolute;
    cursor: pointer;
}


/* ---------------------------------------------- PROJECTS ---------------------------------------------- */

.seccionProjects {
    padding: 0 18vw;
    width: 100vw;
    height: auto;
    background-color: var(--color-negro);
    display: flex;
    flex-direction: column;
}

.seccionProjects__parrafo {
    font-size: 1.1rem;
    color: white;
    line-height: 2rem;
    width: 60%;
    margin: auto;
}

.seccionProjects__intro {
    margin: 3rem 0 0 0;
}

.seccionProjects__tituloContenedor {
    align-self: start;
    margin-bottom: 2rem;
}

.seccionProjects__titulo {
    font-family: 'Paytone One';
    font-size: 2.3rem;
    font-weight: 300;
}

.seccionProjects__titulo,
.seccionProjects__subtitulo {
    color: white;
}

.seccionProjects__subtitulo {
    width: 65%;
    line-height: 2rem;
    overflow-wrap: break-word;
}

.seccionProjects__titulo {
    margin-bottom: 0.6rem;
}

.seccionProjects__proyecto1,
.seccionProjects__proyecto2 {
    display: flex;
    flex-direction: column;
    padding-left: 4%;
    width: 100%;

}

.seccionProjects__proyecto1 {
    margin: 4rem auto 0 auto;
}

.seccionProjects__proyecto2 {
    margin: 4rem auto 8rem auto;
}

.seccionProjects__contenido {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}


.seccionProjects__videoContenedor {
    width: 70%;
    transition: .2s ease all;
}

.seccionProjects__video {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.seccionProjects__botonesContenedor {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.seccionProjects__botones {
    cursor: pointer;
    width: 90%;
    height: 3.6rem;
    border-radius: 185rem;
    margin: 1.6rem;
    transition: .2s ease all;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.btn1 {
    background-color: var(--color-verde);
    color: var(--color-negro);
}

.btn2 {
    color: var(--color-verde);
    border: 0.2rem solid var(--color-verde);
}

.btn1:hover {
    box-shadow: 0px 4px 36px rgba(234, 255, 102, 0.16);
}

.btn2:hover {
    filter: drop-shadow(0px 4px 36px rgba(234, 255, 102, 0.20));
}

.tituloDos {
    align-self: end;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* ---------------------------------------------- CONTACT ---------------------------------------------- */

.seccionContact {
    padding: 0 18vw;
    width: 100vw;
    height: auto;
    min-height: 106vh;
    background-color: var(--color-azul);
    display: flex;
    flex-direction: column;
}

.seccionContact__parrafo {
    color: white;
    font-size: 1.3rem;
    line-height: 2rem;
    width: 20%;

    margin-top: 2rem;
}

.seccionContact__contenidoContenedor {
    margin-top: 5rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.seccionContact__nameEmailContenedor {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.seccionContact__messageContenedor {
    width: 50%;
}

.seccionContact__nameContenedor {
    margin-bottom: 2rem;
}

.seccionContact__nameContenedor,
.seccionContact__emailContenedor,
.seccionContact__messageContenedor {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.seccionContact__name,
.seccionContact__email,
.seccionContact__message {
    border: 0.2rem solid white;
    border-radius: 1rem;
    padding: 0.5rem;
    color: white;
}


.seccionContact__name,
.seccionContact__email {
    height: 4rem;
    width: 80%;
}

.seccionContact__message {
    height: 100%;
    padding: 0.6rem;
    resize: none;
}

::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.1rem;
}

.seccionContact__message::placeholder {
    padding: 0.2rem 0 0 0;
}

.seccionContact__nameLabel,
.seccionContact__emailLabel,
.seccionContact__messageLabel {
    color: white;
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.seccionContact__boton {
    cursor: pointer;
    margin: 3rem 0 5rem 0;
    background-color: var(--color-verde);
    border-radius: 3rem;
    width: 20%;
    height: 3rem;
    align-self: end;
    font-size: 1.3rem;
    color: var(--color-negro);
}

.seccionContact__boton:hover {
    filter: drop-shadow(0px 4px 36px rgba(234, 255, 102, 0.20));
}

/* ---------------------------------------------- END ---------------------------------------------- */

.seccionEnd {
    padding: 0 18vw;
    width: 100vw;
    height: auto;
    background-color: var(--color-negro);
    display: flex;
    flex-direction: column;
}

.seccionEnd__thankyou {
    margin: 10rem 0 4rem 0;

    position: relative;
    left: -30%;

    font-family: var(--font-logo);
    text-transform: uppercase;
    font-size: 11rem;
    line-height: 6rem;
    -webkit-text-stroke: 0.1rem var(--color-azul);
    color: transparent;
    opacity: 0.9;

    width: 100vw;
}

.seccionEnd__redesContenedor {
    display: flex;
    align-items: center;
    margin: 2rem 0 0.6rem 0;
    justify-content: center;
}

.seccionEnd__redes {
    padding: 0 0.8rem;
    transition: .3s ease all;
}

.seccionEnd__redes:hover {
    transform: scale(1.3) rotate(10deg);
}

.seccionEnd__developedBy {
    margin: 0 auto 4rem auto;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.seccionEnd__Agustina {
    color: var(--color-azul);
    text-transform: uppercase;
    font-family: var(--font-logo);
}


@media only screen and (max-width: 1600px) {

    /* body{
        background-color: chartreuse;
    } */

    #forma1,
    #forma2,
    #forma3,
    #forma4,
    #forma5,
    #forma6,
    #forma7,
    #forma8,
    #forma9,
    #forma10,
    #forma11,
    #forma12,
    #forma13,
    #forma14,
    #forma15,
    #forma16,
    #forma17 {
        transform: scale(0.8);
    }

    .seccionPrincipal__logo {
        line-height: 3rem;
    }

    .seccionPrincipal__logoNombre {
        font-size: 5.5rem;
    }

    .seccionPrincipal__redes {
        transform: scale(0.8);
    }

    /* ------------ ABOUT ME --------------- */

    .tituloContenedor {
        margin: 6rem 0 3rem 0;
    }

    .titulo {
        font-size: 2.3rem;
        left: 3.4rem;
    }

    .tituloSubrayado {
        width: 17rem;
        height: 4.5rem;
    }

    .seccionAboutMe__contenidoContenedor {
        margin-top: 2rem;
    }


    .seccionAboutMe__imagenContenedor {
        padding: 0 0 1.6rem 0;
    }


    .seccionAboutMe__imagen {
        width: 22rem;
        height: 30rem;
    }

    .seccionAboutMe__imagenTitulo {
        line-height: 4rem;
        font-size: 5rem;
        transform: translateY(-3rem);
    }


    /* ------------ SKILLS --------------- */

    .tituloContenedor2 {
        padding: 5rem 0 4rem 0;
    }

    .tituloFondo2 {
        font-size: 9rem;
    }

    .titulo2 {
        font-size: 4.4rem;
    }

    .seccionSkillsContenedor {
        margin: 1rem 0 0 0;
    }

    .seccionSkills__img {
        width: 35%;
        transition: .3s ease all;
    }

    #html,
    #css,
    #js {
        width: 40%;
    }

    #figmaImg {
        width: 25%;
    }

    .seccionSkills__texto {
        font-size: 1.4rem;
    }

    .seccionSkills__item:hover .seccionSkills__img {
        transform: translateY(-4rem) translateX(105%) rotate(10deg);
    }



    /* ------------ PROJECTS --------------- */

    .seccionProjects__parrafo {
        font-size: 1rem;
        color: white;
        line-height: 2rem;
        width: 62%;
        margin: auto;
    }

    .seccionProjects__intro {
        margin: 3.5rem 0;
    }


    .seccionProjects__proyecto1 {
        margin: 1rem auto 0 auto;
    }

    .seccionProjects__botones{
        height: 3rem;
        font-size: 1.1rem;
    }

    /* ------------ CONTACT --------------- */

    .seccionContact__parrafo {
        width: 26%;
        margin-top: 0rem;
        font-size: 1.2rem;
    }

    .seccionContact__contenidoContenedor{
        margin-top: 3rem;
    }

    .seccionContact__name, .seccionContact__email{
        height: 3rem;
    }

    .seccionContact__boton{
        width: 30%; 
        font-size: 1.1rem;
    }

    /* ------------ END --------------- */

    .seccionEnd__thankyou{
        font-size: 8.8rem;
    }

    .github, .alura{
        width: 35px;
        height: 35px;
    }
    
    .linkedin, .instagram{
        width: 40px;
        height: 40px;
    }

}

@media only screen and (max-width: 768px) {


    .seccionPrincipal {
        height: 40vh;
        justify-content: center;
    }

    .seccionPrincipal__formitas {
        height: 40vh;
    }

    #forma1 {
        top: -10%;
    }

    #forma2 {
        top: -10%;
        right: calc((-100vw + 78%)/ 2);
    }

    #forma3 {
        top: -2%;
        left: -18%;
    }

    #forma4 {
        left: 4%;
    }

    #forma5 {
        top: 34%;
        left: -22%;
    }

    #forma6 {
        top: 7%;
        left: 48%;
    }

    #forma8,
    #forma11,
    #forma12,
    #forma17,
    #forma15 {
        display: none;
    }

    #forma9 {
        top: 74%;
    }

    #forma10 {
        top: 65%;
        left: -2%;
    }

    #forma13 {
        top: 60%;
        left: 16%;
    }

    #forma14 {
        top: 62%;
        left: 56%;
    }

    #forma16 {
        top: calc((50vh + 70%)/ 2);
        left: 30%;
    }

    #forma1,
    #forma2,
    #forma3,
    #forma4,
    #forma5,
    #forma6,
    #forma7,
    #forma8,
    #forma9,
    #forma10,
    #forma11,
    #forma12,
    #forma13,
    #forma14,
    #forma15,
    #forma16,
    #forma17 {
        transform: scale(0.55);
    }

    .seccionPrincipal__nav {
        display: none;
    }

    .seccionPrincipal__redesContenedor {
        display: none;
    }


    .seccionPrincipal__logo {
        margin-top: 2rem;
        line-height: 1.8rem;
    }

    .seccionPrincipal__logoNombre {
        font-size: 2.9rem;
    }

    .seccionPrincipal__logoApellido {
        font-size: 1rem;
    }


    /* ------------ ABOUT ME --------------- */

    .seccionAboutMe {
        padding: 0 12vw;
        min-height: 85vh;
    }

    .tituloContenedor {
        margin: 4rem 0 3rem 0;
    }

    .titulo {
        font-size: 1.6rem;
        left: 1.4rem;
    }

    .tituloSubrayado {
        width: 10rem;
        height: 3.5rem;
    }

    .seccionAboutMe__contenidoContenedor {
        flex-direction: column;
        justify-content: start;
        margin-top: 2rem;
    }

    .seccionAboutMe__contenido2 {
        order: 1;
        align-self: self-end;
        padding: 0 1rem
    }

    .seccionAboutMe__contenido1 {
        order: 2;
    }

    .seccionAboutMe__imagenContenedor {
        align-self: end;
    }

    .seccionAboutMe__imagen {
        width: 15rem;
        height: 18rem;
    }

    .seccionAboutMe__imagenTitulo {
        line-height: 2rem;
        font-size: 3.3rem;
    }

    .seccionAboutMe__parrafo1,
    .seccionAboutMe__parrafo2 {
        font-size: 1rem;
        padding-left: 0.5rem;
    }

    .seccionAboutMe__parrafo1 {
        order: -1;
        margin: 1.4rem 0 1rem 0;
    }

    .seccionAboutMe__linea1,
    .seccionAboutMe__linea2,
    .seccionAboutMe__parrafo2 {
        display: none;
    }

    .alternativo {
        display: block;
        margin-top: 1rem;
        padding-left: 0.5rem;
    }


    /* ------------ SKILLS --------------- */

    .seccionSkills {
        padding: 0 12vw;
        /* height: 90vh; */
    }

    .seccionSkillsContenedor {
        height: 26%;
    }

    .seccionSkills__item {
        margin-bottom: 18%;
    }

    .tituloFondo2 {
        font-size: 4.5rem;
        line-height: 3.8rem;
        width: 120vw;
        height: 8rem;
        overflow: hidden;
        padding-top: 1rem;
        overflow-wrap: break-word;
    }

    .titulo2 {
        font-size: 3.4rem;
        margin-top: 3rem;
    }

    .tituloContenedor2 {
        padding: 3rem 0 4rem 0;
    }

    .seccionSkills__item:nth-child(3n+2) {
        margin-right: 0%;
    }

    .seccionSkills__item:nth-child(3n+1) {
        margin-right: 0%;
    }

    .seccionSkills__item {
        width: 45%;
        height: 60%;
        margin-right: 0%;
        margin-bottom: 15%;
        border-radius: 1.6rem;
    }

    /* ------------ PROJECTS --------------- */

    .seccionProjects {
        padding: 0 12vw;
    }

    .seccionProjects__parrafo {
        width: 100%;
        padding-left: 0.5rem;
    }

    .seccionProjects__intro {
        margin: 1.5rem 0;
    }

    .seccionProjects__proyecto1,
    .seccionProjects__proyecto2 {
        padding-left: 0%;
    }

    .seccionProjects__proyecto1 {
        margin: 1rem 0 0 0;
    }

    .seccionProjects__proyecto2 {
        margin: 0rem auto 4rem auto;
    }

    .seccionProjects__titulo {
        font-size: 2rem;
        margin-bottom: 1rem;
        padding-left: 0.5rem;
    }

    .seccionProjects__subtitulo {
        width: 100%;
        padding-left: 0.5rem;
        font-size: 0.9rem;
    }

    .seccionProjects__contenido {
        flex-direction: column;
    }

    .seccionProjects__videoContenedor {
        width: 100%;
        order: 1;
    }

    .seccionProjects__botonesContenedor {
        width: 100%;
        margin: 1.8rem;
    }

    .seccionProjects__botones {
        width: 100%;
        border-radius: 2rem;
        margin: 0 0 1.4rem 0;
    }

    .seccionProjects__botonesContenedor {
        order: 2;
    }

    .tituloDos {
        text-align: start;
        align-items: start;
    }


    /* ------------ CONTACT --------------- */

    .seccionContact {
        padding: 0 12vw;
    }
    
    .seccionContact__parrafo{
        width: 90%;
    }

    .seccionContact__contenidoContenedor{
        flex-direction: column;
    }

    .seccionContact__nameEmailContenedor, .seccionContact__messageContenedor{
        width: 100%;
    }

    .seccionContact__name, .seccionContact__email{
        width: 100%;
    }

    .seccionContact__message{
        height: 7rem;
    }

    .seccionContact__emailContenedor{
        margin-bottom: 2rem;
    }

    .seccionContact__boton{
        width: 100%;
    }

    /* ------------ END --------------- */

    .seccionEnd__thankyou{
        font-size: 5rem;
    }

    .seccionEnd__thankyou {
        margin: 4rem 0 0rem 0;
    }

    .github, .alura{
        width: 40px;
        height: 40px;
    }
    
    .linkedin, .instagram{
        width: 45px;
        height: 45px;
    }
    

}